@page "/"

@using System.ComponentModel.DataAnnotations
@using TournamentWebTest.Services
@inject TeamService TeamService

<PageTitle>Home</PageTitle>

<h1>Am Anfang dauert es ein bisschen bis die Teams geladen wurden.. danach sind die Turniertests verfügbar.. evtl mehrmals auf den Reiter links drücken bis die Spiele erscheinen</h1>


@code{

    protected override async Task OnInitializedAsync()
    {
        await TeamService.LoadTeamsAsync();
    }
}
